body {
    background: #000000;
    color: #173da2;
    font-family: inter, sans-serif;
    border: 1px solid #50c881;
    border-radius: 8px;
    min-height: 97vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 64px;
    width: 64px;
}

.content {
    margin-top: 25vh;
    width: 100%;
    height: 30vh;
    background-color: #efce31;
}

.profile-pics {
    position: absolute;
    display: flex;
    top: 70vh;
    gap: 15vb;
    justify-content: space-between;
}

.pfp {
    border: 1px solid white;
    border-radius: 100px;
    height: 110px;
    width: 110px;
}