body {
    font-family: inter;
    background: linear-gradient( #051323, #000);
    color: #e1e3e5;
    font-family: inter, sans-serif;
    border: 1px solid #173da2;
    border-radius: 8px;
    min-height: 97vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; /* Changed to stretch for full width content */
    position: relative;
    overflow: hidden; /* Prevent content from overflowing the border */
    padding: 80px 0 20px; /* Remove horizontal padding */
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 64px;
    width: 64px;
}

strong{
    color: #efce31;
}

.profile {
    border: 1px solid #efce31;
    border-radius: 25px;
    padding: 2px 8px;
    cursor: pointer;
    position: absolute;
    right: 23px;
    top: 1px;
    color: #efce31;
    transition: all 0.3s ease;
}

.profile:hover {
    background: #efce31;
    color: black;
}

.content {
    display: flex;
    gap: 1vw;
    margin-left: 12vw;
    margin-right: 10vw;
    align-items: center;
}

.btn {
    height: 32px;
    width: 48px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: x-large;
    color: white;
    background: none;
    align-items: center;
    justify-content: center;
}

.carousal {
    width: 24vw;
    border: 1px solid black;
    border-radius: 10px;
}

.center {
    background: linear-gradient(white, #eb1d98);
    height:  80vh;
}

.left {
    background: linear-gradient(white, #051323);
}

.right {
    background: linear-gradient(white, rgba(128, 157, 108, 0.2833));
}

.sides {
    height:  65vh;
    width: 20vw;
}

