@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --font-rubik: "rubik";
  --breakpoint-3xl: 120rem;
  --color-egyptianblue: #173da2;
  --color-gold: #efce31;
  --color-asparagus: #809d6c;
  --color-grey: #e1e3e5;
  --color-hollywoodcerise: #eb1e99;
  --color-richblack: #051323;
  --color-magenta: #661c66;
}
.inputField {
  @apply bg-grey inset-shadow-sm inset-shadow-gray-500/50 outline-0 border-0 rounded-xl pl-1.5 indent-1.5;
}

.pfp {
  @apply h-28 w-28 border-2 border-gold rounded-full;
}
.logo {
  @apply absolute top-2 left-2 h-16 w-16;
}
.carousel {
  @apply w-72 border border-none rounded-lg;
}
.btn {
  @apply border border-white text-xl rounded-full px-2 hover:bg-white hover:text-richblack hover:scale-110;
}
