body {
    background: #efce31;
    color: #173da2;
    font-family: inter, sans-serif;
    border: 1px solid #173da2;
    border-radius: 8px;
    min-height: 97vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
a {
    color: #173da2;
    text-decoration: none;
}
.container {
    margin-top: 30vh;
    text-align: center;
}

input {
    padding-left: 5px;
    box-sizing: border-box;
    text-indent: 6px;
    border: none;
    border-radius: 10px;
    background: #e1e3e5;
    box-shadow: inset grey 0px 2px 3px;
    outline: 0;
}
.hero {
    margin-left: 30px;
    font-family: rubik, sans-serif;
    font-size: 32px;
}
.about {
    cursor: pointer;
    position: absolute;
    right: 23px;
    top: 20px;

}

.go {
    position: absolute;
    margin-right: 20px;
    right: 10px;
    bottom: 30px;
    border: 1px solid #173da2;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 6px;
    border-radius: 12px;
    cursor: pointer;
    
}



.name-container {
    margin-left: -120px;
    margin-bottom: -1px;
}

.scID-container {
    margin-left: -85px;
    margin-bottom: -1px;
}

.club-login {
    cursor: pointer;
}

@keyframes fontchange {
    0% {
        font-family: 'Major Mono Display', sans-serif;
        font-size: 10px;
    }
    20% {
        font-family: 'Kaushan Script', sans-serif;
    }
    40% {
        font-family: 'Lobster', sans-serif;
    }
    60% {
        font-family: 'Ranchers', sans-serif;
    }
    80% {
        font-family: 'Bitter', sans-serif;
    }
    100% {
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
    }
}


strong {
    display: inline-block;
    position: relative;
    height: 1.5em;
    min-width: 7ch;
    vertical-align: baseline;
    visibility: hidden;
}

strong::after {
    content: "clouter";
    visibility: visible;
    position: absolute;
    white-space: nowrap;
    left: 0;
    animation: fontchange 0.6s;
    max-width: 100%;
    overflow: hidden;
}
